.academy {
  display: flex;
  align-items: center;
  width: 163px;
  gap: 23px;

  .academy__link {
    display: flex;
    gap: 23px;
    height: 37px;
    color: #444444;
    @include text(lato, 16px, 20px);

    &::after {
      content: "";
      display: block;
      height: 37px;
      width: 27px;
      mask-image: url(../../icons/logo-html.svg);
      background-color: #666666;
      mask-size: 27px 34px;
      mask-repeat: no-repeat;
    }
  }

  &:hover,
  &:focus-visible {
    .academy__link::after {
      background-color: #68b738;
    }
  }

  &:active {
    .academy__link {
      opacity: 0.3;
    }
  }
}
//media tab

@include mediaTab {
  .academy {
    display: flex;
    align-items: center;
    gap: 23px;

    .academy__link {
      width: 163px;
      display: flex;
      align-items: center;
      height: 37px;
      color: #444444;
      @include text(lato, 16px, 20px);
    }
  }
}
