.button {
  @include text($Oswald, 16px, 20px);
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: $main-decor;
  min-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;

  &--another {
    background-color: #F2F2F2;
    color: $main-color;
  }

}
