.card-program {

  // .card-program__title

  .card-program__title {
    font-family: $Oswald;
    font-size: 24px;
    line-height: 37px;
  }

  // .card-program__text

  .card-program__text {
  }

  // .card-program__link

  .card-program__link {
    font-family: $Oswald;
    font-size: 16px;
    line-height: 16px;
    @include linkReset
  }
}
