.card-another {

  // .card-another__title

  &__title {
    @include text ($Oswald, 16px,20px);
    color: #111111;
    text-transform: uppercase;
    text-align: center;
  }

  // .card-another__sutitle

  &__sutitle {
    @include text ($Lato, 12px,16px);
    text-align: center;
  }

  // .card-another__link

  &__link {
  }
}
