.catalog-other {
  // .catalog-other__title
  @include mediaTab {
    padding: 0 40px;
  }

  .catalog-other__title {
    @include text($Oswald, 24px, 24px);
    color: #000000;
  }

  // .catalog-other__list

  .catalog-other__list {
    @include listReset;

  }

  // .catalog-other__card

  .catalog-other__card {
  }
}
