.description-feed {
  padding: 20px;
  @include mediaTab {
    padding: 0;
  }
  // .description-feed__wrapper

  .description-feed__wrapper {
  }

  // .description-feed__title

  .description-feed__title {
  }

  // .description-feed__list

  .description-feed__list {
    @include listReset;
    counter-reset: number 0;
  }

  // .description-feed__item

  .description-feed__item {
  }

  // .description-feed__text

  .description-feed__text {
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
    counter-increment: number;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-color: $main-decor;
      background-image: url(../../icons/stack.svg#plant);
      background-size: 25px 28px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
    }

    @media (min-width: 708px) {
      &::after {
        content: counter(number);
        font-weight: 400;
        font-size: 280px;
        line-height: 280px;
        color: #f2f2f2;
        text-align: center;
      }
    }
  }

  .description-feed__text--chemistry {
    &::before {
      content: "";
      background-image: url(../../icons/stack.svg#chemistry);
      background-size: 25px 28px;
    }
  }
  .description-feed__text--tableware {
    &::before {
      content: "";
      background-color: $main-decor;
      background-image: url(../../icons/stack.svg#Tableware);
      background-size: 24px 30px;
    }
  }
  .description-feed__text--clock {
    &::before {
      content: "";
      background-image: url(../../icons/stack.svg#clock);
      background-size: 26px 31px;
    }
  }
}
