.description-feed {
  padding-top: 20px;
  padding-bottom: 49px;
  @include mediaTab {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  // .description-feed__wrapper

  .description-feed__wrapper {
  }

  // .description-feed__title

  .description-feed__title {
    margin: 0;
    margin-bottom: 40px;
    @include mediaTab {
      margin-bottom: 32px;
    }
  }

  // .description-feed__list

  .description-feed__list {
    @include listReset;
    counter-reset: number 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include mediaTab {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 153px;
      row-gap: 37px;
    }
    @media (min-width: 400px) {
      row-gap: 37px;
    }
  }

  // .description-feed__item

  .description-feed__item {
    @include mediaTab {
      width: 230px;
      min-height: 280px;
    }
  }

  // .description-feed__text

  .description-feed__text {
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
    counter-increment: number;
    margin: 0;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-color: $main-decor;
      background-image: url(../../icons/stack.svg#plant);
      background-size: 25px 28px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
    }

    @media (min-width: 708px) {
      padding-left: 0;
      display: block;
      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        background-color: $main-decor;
        background-image: url(../../icons/stack.svg#plant);
        background-size: 25px 28px;
        background-repeat: no-repeat;
        background-position: center;
        position: static;
        margin-bottom: 31px;
      }
      &::after {
        content: counter(number);
        font-weight: 400;
        font-size: 280px;
        line-height: 280px;
        color: #f2f2f2;
        text-align: center;
        position: absolute;
        right: 0;
        top: -40;
        z-index: -1;
      }
    }
  }

  .description-feed__text--chemistry {
    &::before {
      content: "";
      background-image: url(../../icons/stack.svg#chemistry);
      background-size: 25px 28px;
    }
  }
  .description-feed__text--tableware {
    &::before {
      content: "";
      background-color: $main-decor;
      background-image: url(../../icons/stack.svg#Tableware);
      background-size: 24px 30px;
    }
  }
  .description-feed__text--clock {
    &::before {
      content: "";
      background-image: url(../../icons/stack.svg#clock);
      background-size: 26px 31px;
    }
  }
}

// Media Desk

@include mediaDesk {
  .description-feed {
    padding-bottom: 69px;
    .description-feed__wrapper {
    }

    .description-feed__title {
    }

    .description-feed__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 94px;
    }

    .description-feed__item {
    }

    .description-feed__text {
    }
  }
}
