.example {
  background-color: #eaeaea;
  padding: 0 30px;

  @include mediaTab {
    background: linear-gradient(#ffffff 384px, #eaeaea 384px);
  }

  // .example__wrapper

  .example__wrapper {
  }

  // .example__title

  .example__title {
  }

  // .example__text

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  // .example__modules

  .example__modules {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  // .example__module

  .example__module {
  }

  // .example__expenses

  .example__expenses {
    @include text($Oswald, 14px, 20px);
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    @include mediaTab {
      @include text($Oswald, 20px, 20px);
      max-width: 174px;
      text-align: right;
    }
  }

  // .example__slider

  .example__slider {
    @include mediaTab {
      width: 100vw;
      margin-left: -30px;
    }
    @include mediaDesk {
      width: 1440px;
      margin-left: -30px;
    }
  }
}
