.footer {
  // .footer__wrapper

  .footer__wrapper {
    display: flex;
    align-items: center;
    a {
      @include linkReset;
    }
  }

  // .footer__pic-logo

  .footer__pic-logo {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  // .footer__social

  .footer__social {
  }

  // .footer__academy

  .footer__academy {
    a {
      @include linkReset;
    }
  }
}
