.gift {
  padding-top: 58px;
  background-image: url("../../images/catalog/cat-mob@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mediaTab {
    background-image: url("../../images/catalog/cat-tab@1x.jpg");
    padding: 60px 125px 60px 77px;
  }

  @include mediaDesk {
    background-image: url("../../images/catalog/cat-desk@1x.jpg");
    height: fit-content;
    margin-top: 117px;
    padding: 57px 42px 43px;
  }
}

// .gift__text

.gift__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 43px;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    mask-image: url("../../icons/catalog/gift.svg");
    margin-bottom: 48px;
  }

  @include mediaTab {
    &::before {
      margin-bottom: 0;
    }
  }

  @include mediaTab {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: left;
  }

  @include mediaDesk {
    text-align: center;
    flex-direction: column;
    gap: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}
