.index-title {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  color: #000000;

  @include mediaTab {
    font-size: 60px;
    line-height: 60px;
  }
}
