.location {

  // .location__wrapper

  &__wrapper {
  }

  // .location__advert

  &__advert {
    @include text ($Oswald, 16px, 20px);
    color: #000000;
    text-transform: uppercase;
  }

  // .location__adress

  &__adress {
    @include text ($Oswald, 14px, 20px);
    font-style: normal;
  }

  // .location__map

  &__map {
  }
}
