.main-header {
  // .main-header__wrapper

  .main-header__wrapper {
  }

  // .main-header__logo

  .main-header__logo {
    @include linkReset;
  }

  // .main-header__logo-pic

  .main-header__logo-pic {
  }

  // .main-header__button

  .main-header__button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../icons/menu.svg);
    border: none;
  }

  .main-header__button--close {
    background-image: url(../../icons/close-menu.svg);
  }

  // .main-header__modl-menu

  .main-header__modl-menu {
  }
}
