.main {
  width: 100%;
  @include mediaTab {
    min-width: 100%;
  }

  .main__programs {
  }

  .main__description {
  }

  .main__example {
  }

  .main__location {
  }
}

//media Desk

@include mediaDesk {
  .main {
    min-width: 100%;

    .main__programs {
    }

    .main__description {
    }

    .main__example {
    }

    .main__location {
    }
  }
}
