.main-catalog {
  max-width: 100%;

  img {
    display: block;
  }

  .main-catalog__wrapper {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @include mediaTab {
      width: 768px;
      padding: 0 30px;
    }
    @include mediaDesk {
      width: 1440px;
      padding: 0 110px;
    }
  }

  .main-catalog__catalog {
  }

  .main-catalog__list {
    @include listReset;

    @include mediaTab {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 141px;
      column-gap: 60px;
    }
    @include mediaDesk {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 144px;
      column-gap: 80px;
    }
  }

  // .main-catalog__item

  .main-catalog__item {
    margin-bottom: 25px;

    @include mediaTab {
      max-width: 324px;
      margin: 0;
    }
    @include mediaDesk {
      max-width: 245px;
    }
  }

  // .main-catalog__catalog-other

  .main-catalog__catalog-other {
  }

  // .main-catalog__gift

  .main-catalog__gift {
  }

  // .main-catalog__subscribe

  .main-catalog__subscribe {
  }

  // .main-catalog__location

  .main-catalog__location {
  }
}
