.main-header {
  margin: 0 auto;
  max-width: 320px;
  padding-top: 13px;
  padding-bottom: 20px;

  .main-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .main-header__logo {
    @include linkReset;
    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .main-header__logo-pic {
  }

  .main-header__button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../icons/menu.svg);
    border: none;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .main-header__button--close {
    background-image: url(../../icons/close-menu.svg);
  }

  .main-header__modl-menu {
  }

  .main-header__promo {
  }
}

//Media Tab

@include mediaTab {
  .main-header {
    max-width: 768px;

    .main-header__wrap-heder-menu {
      display: flex;
      gap: 94px;
      align-items: center;
      justify-content: space-between;
    }

    .main-header__wrapper {
      margin-bottom: 0;
    }

    .main-header__logo {
    }

    .main-header__logo-pic {
    }

    .main-header__button {
      display: none;
    }

    .main-header__button--close {
    }

    .main-header__modl-menu {
    }

    .main-header__promo {
    }
  }
}
//Media Desk

@include mediaDesk {
  .main-header {
    max-width: 1440px;
    display: block;
    padding: 0;
    padding-top: 55px;

    background:
      image-set("../images/index/cat-desk@1x.png" 1x, "../images/index/cat-desk@2x.png" 2x) 100% 0/721px 694px,
      linear-gradient(90deg, #ffffff 50%, $main-decor 50%) 0 0/100%;
    background-repeat: no-repeat;

    .main-header__wrap-heder-menu {
      display: flex;
      flex-direction: row;
      margin-bottom: 110px;
    }
    .main-header__wrapper {
    }

    .main-header__logo-pic {
    }

    .main-header__button {
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-image: url(../../icons/menu.svg);
      border: none;
    }

    .main-header__button--close {
      background-image: url(../../icons/close-menu.svg);
    }

    .main-header__modl-menu {
    }
  }
}
