.main {
  width: 100vw;

  // .main__promo

  .main__promo {
  }

  // .main__bacground-promo

  .main__bacground-promo {
    padding-top: 27px;
    background-color: $main-decor;
    background-image: url(../../images/index/cat-mob@1x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 164px;
    margin-bottom: 138px;
  }

  // .main__programs

  .main__programs {
  }

  // .main__description

  .main__description {
  }

  // .main__example

  .main__example {
  }

  // .main__location

  .main__location {
  }
}
