.main {
  width: 320px;
  margin: 0 auto;
  @include mediaTab {
    width: 768px;
  }

  .main__programs {
  }

  .main__description {
  }

  .main__example {
  }

  .main__location {
  }
}

//media Desk

@include mediaDesk {
  .main {
    margin: 0 auto;
    width: 1440px;

    .main__programs {
    }

    .main__description {
    }

    .main__example {
    }

    .main__location {
    }
  }
}
