.map {
  justify-content: center;
  display: none;

  &--nojs {
    display: block;
  }

  @include mediaTab {
    width: 768px;
    margin: 0 auto;
  }
  // .map__pic

  img {
    display: block;
  }
}
