.module {

  // .module__value

  .module__value {
    @include text ($Oswald, 24px, 16px);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  }

  // .module__descriprion

  .module__descriprion {
    @include text ($Lato, 12px, 12px);
    text-align: center;
    }
}
