.module {
  // .module__value
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .module__value {
    @include text($Oswald, 24px, 24x);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 124px;
  }

  // .module__descriprion

  .module__descriprion {
    @include text($Lato, 12px, 12px);
    text-align: center;
    max-width: 77px;
    margin: 0;
  }

  @include mediaTab {
    .module__value {
      @include text($Oswald, 30px, 37px);
      margin-bottom: 11px;
    }

    // .module__descriprion

    .module__descriprion {
      @include text($Lato, 14px, 14px);
      text-align: center;
      max-width: 142px;
    }
  }
}
