.module {
  width: 124px;
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  @include mediaTab {
    width: 162px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 7px;
  }

  @include mediaDesk {
    width: 162px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 12px;
  }
}


.module__value {
  @include text($Oswald, 24px, 24px);
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 124px;
}

.module__descriprion {
  position: absolute;
  z-index: 1;
  bottom: -16px;

  @include text($Lato, 12px, 12px);
  text-align: center;
  background-color: #eaeaea;
  max-width: 77px;
  margin: 0;
}

@include mediaTab {
  .module__value {
    @include text($Oswald, 30px, 37px);
    margin-bottom: 11px;
  }

  // .module__descriprion

  .module__descriprion {
    @include text($Lato, 14px, 14px);
    text-align: center;
    max-width: 142px;
    position: absolute;
    bottom: -6px;
    z-index: 2;
    background-color: #ffffff;
  }
}

@include mediaDesk {
  .module__descriprion {
    @include text($Lato, 14px, 14px);
    text-align: center;
    max-width: 142px;
    position: absolute;
    bottom: -2px;
    z-index: 2;
    background-color: #f2f2f2;
  }
}
