.programs-main {
  // .programs-main__wrapper

  .programs-main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .programs-main__card

  .programs-main__card {
  }
}
