.programs-main {
  // .programs-main__wrapper

  .programs-main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .programs-main__card

  .programs-main__card {
  }
}

//Media table

@include mediaTab {
  .programs-main {
    .programs-main__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    // .programs-main__card

    .programs-main__card {
    }
  }
}

//media desk
@include mediaDesk {
  .programs-main {
    padding: 0 110px;
    padding-top: 82px;

    .programs-main__wrapper {
      display: flex;
      flex-direction: row;
      gap: 80px;
    }

    // .programs-main__card

    .programs-main__card {
    }
  }
}
