.promo-main {
  font-family: $Oswald;
  color: #ffffff;
  background-color: $main-decor;

  // .promo-main__wrapper

  .promo-main__wrapper {
    margin: 0 auto;
    padding-top: 138px;
    padding-bottom: 20px;
    background-color: #ffffff;
  }

  // .promo-main__title

  .promo-main__title {
    font-size: 36px;
    margin-top: 27px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 36px;
    font-weight: normal;
  }

  // .promo-main__text

  .promo-main__text {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }

  // .promo-main__pic

  .promo-main__pic {
  }

  // .promo-main__link

  .promo-main__link {
    @include linkReset;
    background-color: $main-decor;
    color: #ffffff;
    display: block;
    max-width: 280px;
    @include text($Oswald, 16px, 20px);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
}
