.slider {
  // .slider__before

  .slider__before {
  }

  // .slider__after

  .slider__after {
  }

  // .slider__button

  .slider__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #ffffff;
    position: relative;

    .slider__button-svg {
      color: #666666;
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 256px;
      border-radius: 2px;
      background-color: #666666;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      outline: 2px solid #666666;
      background-color: transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &:hover {
      .slider__button-svg {
        color: #68b738;
      }
      &::before {
        background-color: #68b738;
      }
      &::after {
        outline: 2px solid #68b738;
      }
    }
    &:active {
      .slider__button-svg {
        color: #5eaa2f;
        opacity: 0.6;
      }
      &::before {
        background-color: #5eaa2f;
        opacity: 0.6;
      }
      &::after {
        outline: 2px solid #5eaa2f;
        opacity: 0.6;
      }
    }
  }
}

//Media desk
@include mediaDesk {
  .slider {
    display: grid;

    picture:nth-child(1) {
      width: 50%;
      overflow: hidden;
      grid-area: 1 / 1 / 1 / -1;
      z-index: 2;
      background: linear-gradient(#fff 136px, #eaeaea 136px);
    }
    picture:nth-child(2) {
      grid-area: 1 / 1 / 1 / -1;
      z-index: 1;
      background: linear-gradient(#fff 136px, #eaeaea 136px);
    }

    .slider__before {
    }

    // .slider__after

    .slider__after {
      z-index: 1;
    }

    // .slider__button

    .slider__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      background-color: #ffffff;
      position: relative;

      .slider__button-svg {
        color: #666666;
      }
    }
  }
}
