.social {
  @include listReset;
  display: flex;
  margin: 0;
  padding-top: 4px;

  .social__item {
    padding: 16px 0;
  }

  .social__link {
    display: block;
    width: 28px;
    height: 22px;
  }

  .social__link--vk {
    position: relative;

    &::before {
      content: "";
      width: 28px;
      height: 22px;
      position: absolute;
      mask-image: url("../../icons/stack.svg#vk");
      background-color: #666666;
    }

    &:hover::before,
    &:focus-visible::before {
      background-color: #68b738;
    }

    &:active::before {
      opacity: 0.3;
      background-color: #68b738;
    }
  }

  .social__link--youtube {
    &::before {
      content: "";
      width: 28px;
      height: 20px;
      position: absolute;
      mask-image: url("../../icons/stack.svg#youtube");
      background-color: #666666;
    }

    &:hover::before,
    &:focus-visible::before {
      background-color: #68b738;
    }

    &:active::before {
      opacity: 0.3;
      background-color: #68b738;
    }
  }

  .social__link--tg {
    &::before {
      content: "";
      width: 28px;
      height: 22px;
      position: absolute;
      mask-image: url("../../icons/stack.svg#tg");
      background-color: #666666;
    }

    @include mediaTab {
      &::before {
        height: 20px;
      }
    }

    @include mediaDesk {
      &::before {
        height: 20px;
      }
    }

    &:hover::before,
    &:focus-visible::before {
      background-color: #68b738;
    }

    &:active::before {
      opacity: 0.3;
      background-color: #68b738;
    }
  }
}

//Media tab
@include mediaTab {
  .social {
    .social__item {
      padding: 0;
    }
  }
}
