.subscribe {

  // .subscribe__form

  .subscribe__form {
  }

  // .subscribe__title

  .subscribe__title {
    @include text ($Oswald, 24px, 24px);
    color: #000000;
    display: block;
  }

  // .subscribe__text

  .subscribe__text {
    @include text ($Oswald, 16px, 24px);
    color: #000000;
    display: block;
  }

  // .subscribe__input

  .subscribe__input {
    @include text ($Oswald, 20px, auto);
    color: #444444;
    text-transform: uppercase;
    min-width: 280px;
  }

  // .subscribe__button

  .subscribe__button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
